*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    scroll-behavior: smooth;

}


:root{
    --primary-color:#f2f2f2;  
    /* background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  */
}
.header{
    width: 100%;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
}

nav div a h1{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: monospace;
}
nav div a{
    text-decoration: none;
}
nav div a h1 span{
    color: #ea4f4c;
    font-family: monospace;
    
}
.nav-links{
    flex: 0;
    text-align: right;
} 

.nav-links ul li{
    list-style: none;
    display: flex;
    position: relative;
    flex-direction:column;
    padding: 8px 8px;
    align-items: center;
}
.nav-links ul {
    display:flex;
    overflow: hidden;
    height: 70px;
    cursor: pointer;
}

.nav-links ul li #icons{
    font-size: 22px;
    margin-top: -5px;
    color: #fff;
    padding: 13px 40px;
    transition: 0.5s;
    background-color: #ffffff26;
    
}
.nav-links ul li #links {
    position: relative;
    top: 20px;
    padding:13px 25px;
    transition: 0.5s;
}

.nav-links ul li:hover span{
    transform: translateY(-150%);
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links ul li #links::after{
        content: '' ;
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    } 
    
.nav-links ul li #links:hover::after{
     width: 100%;
}
 .close{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 100px;
    /* border: 2px solid #fff; */
    padding: 10px;
}

.container .box{
    width: 100%;
    height: 100%;
    padding: 20px 12px;
    /* border: 2px solid #fff; */
    text-align: center;
}

.container .box div{   
    margin: auto 0px;
}

.container .box div h1{
    font-family: 'Poppins',sans-serif;
    font-size:70px;
    margin: 2% 5%;
    text-transform: uppercase;
    color:var(--primary-color);
}

.container .box div h3{
    font-family: 'Poppins',sans-serif;
    font-size:28px;
    margin: 2% 5%;
    text-transform: capitalize;
    color:var(--primary-color);

}

.buttons{
    width: 80%;
    text-align: center;
    /* border: 2px solid #fff; */
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}
.buttons .btn{
    flex-basis: 50%;
}
.hero-btn{
    display: inline-block;
    padding: 12px 34px;
    background: transparent;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    position: relative;
    cursor: pointer;
    font-family:'Nunito',sans-serif;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media screen and (max-width:545px){

    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        height: 100vh;
        flex-direction: column;
        overflow:visible ;
        padding: 25%;
    }
    .nav-links ul li{
        height: 80px;
        overflow: hidden;
    }    

    .nav-links .close{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .close{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .container{
        width: 97%;
    }
    .container .box{
        padding: 10px 5px;
    }
    .container .box div h1{
        font-size: 35px;
    }
    .container .box div h3{
        font-size:16px;
    }
    .buttons{
        width: 100%;
        text-align: center;
        /* border: 2px solid #fff; */
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }
    .buttons .btn{
        flex-basis: 50%;
    }
    .hero-btn{
        display: inline-block;
        padding: 12px 22px;
        background: transparent;
        border: 1px solid #fff;
        text-decoration: none;
        font-size: 12px;
        color: #fff;
        position: relative;
        cursor: pointer;
        font-family:'Nunito',sans-serif;
    }
}

@media screen and (min-device-width: 550px) and (max-device-width: 1150px) {

    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        height: 100vh;
        flex-direction: column;
        overflow:visible ;
        padding: 25%;
    }
    .nav-links ul li{
        height: 80px;
        overflow: hidden;
    }    

    .nav-links .close{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .close{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .container .box div h1{
        font-size: 50px;
    }
    .container .box div h3{
        font-size:27px;
    }
    .buttons{
        width: 80%;
        text-align: center;
        /* border: 2px solid #fff; */
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }
    .buttons .btn{
        flex-basis: 50%;
    }
    .hero-btn{
        display: inline-block;
        padding: 12px 34px;
        background: transparent;
        border: 1px solid #fff;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        position: relative;
        cursor: pointer;
        font-family:'Nunito',sans-serif;
    }
}

/* -------------------------------------- Features section ---------------------- */

hr{
    width: 1px;
    margin: 50px auto;
    background-color: transparent;
    visibility: hidden;
}

.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.h{
    font-size: 30px;
    color: #fff;
    padding-bottom: 30px;
    display: inline-block;
}

.h::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.h:hover::after{
    width: 100%;
}

.features-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    flex-direction: row;
    
}

.features .features-row .features-col{
    flex: 31%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #fff;
    margin: 0px 14px;
    position: relative;
}

.features .features-row .features-col .fas, .fa-fort-awesome{
    color: #fff;
    font-size: 50px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    padding: 45px;
    transform: translateY(-20px);
    background: #d5574e;
    position: absolute;
    top: -50px;
}

.features .features-row .features-col h2{
    font-size: 27px;
    font-weight: 600;
    margin: 2%;
    margin-top: 22%;
    text-transform: none;
    color: #fff;
}

@media screen and (max-width:800px){
    .features-row{
        flex-direction: column;
    }

    .features .features-row .features-col{
        margin: 50px 14px;
    }
}


/* ---------------------------------------------- popular course section ------------------------- */

.Popular-courses{
    width: 80%;
    margin: 100px auto;
    text-align: center;
    padding-top: 30px;
}

.Popular-courses .p-col{
    flex-basis: 31%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fff;
    box-shadow: 10px 10px 11px 1px rgb(0 0 0 / 50%);
    transition: 0.25s;
}

.Popular-courses .p-col:hover{
    transform: scale(1.05);
}

.features-row .p-col img{
    width: 100%;
}

.features-row .p-col h2{
    background: #f44336;
    color: #fff;
    width: 100%;
    padding: 15px 0px;
    font-size: 19px;
    margin: 0;

}

.features-row .p-col h4{
    color: #555;
    margin: 15px;
}

.features-row .p-col p{
    color: #777;
}

@media screen and (max-width:800px){
    .Popular-courses .p-col{
        margin: 20px 0px;
    }
}
 /*------------------------------------------------------------------------------------------ FOOTER SECTION */

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20%;
}

.row{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    justify-content: space-between;
}

.row .footer-col{
    margin: 1.5%;
    padding: 10px 10px;
}

.row .footer-col .footer-about-us{
    text-align: left;
    padding: 5px;
    margin-top: 2%;
}

.h-secondary{
    font-weight: 700;
    font-size: 22px;
    color: #e7756c;
    text-transform: capitalize;
    margin-bottom: 10px;
}

 .p-secondary{
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    padding: 5px;
    text-decoration: none;
    text-align: left;
}

.p-third{
    padding-left: 10px;
    transition: 0.5s;
}

.p-third:hover{
    color: #f44336;
    padding-left: 25px;
}

.row .footer-col .footer-about-us .fa-phone-alt,.fa-envelope,.fa-check,.fa-arrow-right{
    color: #f44336c7;
    margin: 0px 5px;
}

.row .footer-col .footer-about-us div{
    margin-bottom: 5%;
}

.row .footer-col li{
    display: block;
    text-align: left;
    padding: 2.5%;
}
.row .footer-col li a{
    padding-right: 5px;
}

.row .footer-col form input, .row .footer-col textarea{
    width: 90%;
    border: 1px solid #555;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 4%;
}

.row .line_col{
    border-right: 2px solid #fff;
}
.copyright{
    position: sticky;
    width: 80%;
    margin: auto;
    text-align: center;
    border-top: 2px solid #e7756c;
    box-sizing: border-box;
    margin-top: 30px;
}
.copyright h3{
    display: inline-block;
    text-transform: capitalize;
    margin: 50px 0px;
    color: #fff;
    letter-spacing: 2px;
} 

@media screen and (min-device-width: 710px) and (max-device-width: 1250px){
    .footer .row{
        width: 100%;
        flex-wrap: wrap;

    }
}

@media screen and (max-width:700px){
    .footer .row{
        width: 100%;
        flex-direction: column; 
        flex-wrap: wrap;
    }
    .row .line_col{
        border-right: 2px solid #fff;
    }

    .row .footer-col{
        margin: 10% 1.5%;
    padding: 10px 10px;

    }
}

/* -----------------------------tut page desing---------------------------------- */
.active_back{
    filter:blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.75s;
}

.popup{
    display: none;
    flex-direction: column;
    width: 500px;
    height: 370px;
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    background: #e7756c;
    transition: 2s;
}

.popup div{
    width: 95%;
    margin: auto;
    transition: 2s;
}

.popup div input{
    width: 90%;
    margin: auto;
    border: 1px solid #fff;
    padding: 12px 20px;
}

.popup div h2{
    font-size: 17px;
    color: #fff;
    text-transform: lowercase;
}

.popup .far{
    margin: auto;
    font-size: 100px;
    color: #fff;
}

.popup .fas{
    color: #fff;
    font-size: 40px;
    transform: translate(-15px, -15px);
    cursor: pointer;
}

.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    margin: 2%;
    color: #fff;
}
.courses  h1{
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    padding-bottom: 60px;
    cursor: pointer;
}

.courses h1::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.courses h1:hover::after{
    width: 38%;
}
 h2{
    font-size: 25px;
    font-weight: 600px;
    margin: 2%;
    margin-top: 5%;
    text-transform: uppercase;
}

.second_row{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.course-col{
    flex-basis: 33.8%;
    border: 1px solid #c9c8c8;
    background: transparent;
    padding: 90px 90px;
    box-sizing: border-box;
    transition: 0.25s;
    z-index: 0;
}

.second_row .course-col .box{
    width: 100%; 
    display: none;
    transform: translateY(100px);
    transition: 1s;
}

.box p{
    color: #fff;
    
}

.second_row .course-col .fab,.second_row .course-col .fas{
    font-size: 100px;
    color: rgb(12, 173, 98);
    transition: 0.5s;
}

.second_row .course-col .img_logo{
    width: 115px;
    transition: 0.5s;
}
.second_row .course-col .img_logo2{
   transition: 0.5s; 
}

.course-col:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../Images/coding.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}   

.course-col:hover .fab{
    transform: translateY(-30px);transform: translateY(-30px);
    font-size: 80px;
    color: #e7756c;
}

.course-col:hover >.fas{
    transform: translateY(-30px);
    font-size: 80px;
    color: #e7756c;
}

.course-col:hover .img_logo{
    transform: translateY(-30px);
    width: 105px;
}

.course-col:hover .img_logo2{
    transform: translateY(-30px);
    width: 70px;
}

.course-col:hover .box{
    display: block;
    transform: translateY(0px);
    color: #fff;
}

@media screen and (min-device-width: 620px) and (max-device-width: 1200px){
    .second_row{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .courses{
        width: 100%;
    }
    .second_row{
        width: 90%;
        flex-direction: column;
    }
    .popup{
        width: 350px;
        top: 500%;
    }
    .second_row .course-col .fab, .second_row .course-col .fas{
        font-size: 88px;
    }

}

/*---------------------------------- faq section styling ----------------------------------------------------- */

.faq{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.faq  h1{
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    padding-bottom: 60px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.faq h1::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.faq h1:hover::after{
    width: 12%;
}

.third-row{
    display: flex;
    width: 100%;
    margin: 30px auto;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.third-row .question h2{
    margin: 0.5%;
    font-size: 25px;
    /* letter-spacing:1px; */
    font-family: 'Quicksand', sans-serif;
    color: #e7756c;
}
.third-row .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-row .question svg > path{
    fill: #ea4f4c;
}

.third-row .answer{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.third-row .answer p{
    font-weight: 300;
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
    margin: 0%;
    color: #fff;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    letter-spacing:1px;
}

.third-row.active .answer{
    max-height: 80px;
    animation: fade 1s ease-in-out;
}

.third-row.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 600px){
    
    .faq{
        width: 95%;
    }

    .faq h1:hover::after{
        width: 40%;
    }

    .third-row .question h2{
        font-size: 16px;
        text-align: left;
    }
    
    .third-row .question .h-problem{
        width: 340px;
        font-size: 15px;
        text-align: left;
    }

    .third-row .answer p{
        font-size: 13px;
    }
}


/* ---------------------------------------------- Contact - US styling ---------------------------------------------------------- */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact-us h1{
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-top: 3%;
}

.contact-us h1::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.contact-us h1:hover::after{
    width: 25%;
}

.contact-row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    margin: 30px 0px ;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col .fas{
    font-size: 25px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col .fab{
    font-size: 25px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
    text-align: center;
}

.contact-col div p{
    padding: 0;
    text-align: left;
}

.contact-col div h5{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: left;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.formerror{
    border: 1px solid red;
}

@media screen and (max-width: 700px) {
    .contact-row{
        flex-direction: column;
    }

    .contact-us h1{
        margin-top: 21%;
    }

}


/* -------------------------------------------------------contact html ------------------------- */

.enroll{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.enroll  h1{
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    padding-bottom: 60px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.enroll h1::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.enroll h1:hover::after{
    width: 25%;
}

.enroll .third-row{
    border: none;
    transition: 1s;
}


.col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;   
}
.col .row-detail{
    flex: 48%;
    padding: 2%;
    margin: 1%;
    
}

.col .row-detail input, .leave{
    width: 90%;
    padding: 22px 20px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    margin: 2%;
    font-size: 15px;
    color: #fff;
    letter-spacing:1px;
    transition: 0.5s;

}

.leave{
    transform: translateX(6%) ;
    width: 86%; 
    margin-top: -1px;
    transition: 0.5s ease;
}

.col .row-detail select{
    width: 90%;
    padding: 22px 20px;    
    border: 1px solid #fff;
    background-color: rgba(85, 85, 85, 0.171);
    outline: none;
    margin: 2%;
    font-size: 15px;
    color: #fff;
    letter-spacing:1px;
    transition: 0.5s ease;
}

.enroll ::placeholder{
    color: #fff;
}


.col textarea{
    width: 90%;
    padding: 12px 10px;
    background: transparent;
    border: 1px solid #fff;
    margin-left: 5.5%;
    font-size: 15px;
    color: #fff;
    letter-spacing:1px;
    transition: 0.5s;
}

.col .row-detail input:hover{
    transform: scale(1.15);
}

.col .row-detail select:hover{
    transform: scale(1.15);
}

.col textarea:hover{
    transform: scale(1.15);
    
}


@media screen and (max-width: 900px) {
    .enroll .third-row .col{
        flex-direction: column;
    }

    .enroll{
        width: 100%;
    }

    .col textarea{
        margin-left: 0;
    }

    .col .row-detail {
        width: 90%;
    }
}

/* ------------------------------------------------------------------------------------------- about-         --------------------------- */

.about{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.about p{
    font-size: 20px;
}

.about-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.about h1{
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    padding-bottom: 60px;
    cursor: pointer;
}

.about h1::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.about h1:hover::after{
    width: 25%;
}

.about .logo .txt h2{
    margin: 0;
    color: #fff;
}

.about .logo .txt p{
    font-size: 12px;
    word-spacing: 1.5px;
    line-height: 25px;
}

.about-col{
    flex: 32%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(45.1% at 49% 0);
    flex-direction: column;
    transition: 0.5s ;
    margin: 2%;
}


.about-col img{
    width: 100px;
    clip-path:circle();
    cursor: pointer;
}

.about-col h2{
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline;
}

.about-col h3{
    color: #fff;
    font-size: 17px;
    display: inline;
}

.about-col div{
   text-align: center;
    margin-top: 1;
    visibility: hidden;
}

.about .about-col:hover{
    clip-path: circle(70.7% at 50% 50%);
    background-color: #f44336;
}

.about .about-col:hover div{
   visibility: visible;
}

@media screen and (max-width: 700px){
    .about-col{
        clip-path: circle(127.1% at 49% 0);
        margin: 5% 0;
        width: 100%;
    }  

    .about-row{
        flex-direction: column;
        
    }

} 
